body {
    font-family: "Hanken Grotesk";
}

h1 {
    font-size: 50px;
    text-align: center;
    margin: 0.4em;
}

p {
    font-size: 24px;
    text-align: center;
}

h3 {
    font-size: 36px;
}

img {
    height: 10em;
    
}

.info-text {
    font-size: 10px;
}

button {
    padding: 0.8em, 2.5em;
    background-color: white;
    color: black;
    border-radius: 0.75em;

    &:hover {
        cursor: pointer;
        opacity: 75%;
    }
}

.committee-container {
    display: flex;
    flex-direction: column;
    gap: .5em;
}

#committees {
    display: grid;
    grid-template-columns: 5em;
}

